{% extends "app/layout.html.twig"%}
{% block pageContent%}
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>Registro.</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->
    <div class="container mtb">
        <h3 class="">Por favor, introduce tus datos</h3>
        <div class="hline"></div>
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        <div class="hline"></div>
        <p>Pulsando el botón "Crear cuenta" asumimos que estás de acuerdo con nuestros <a href="#">términos y condiciones</a>.</p>

    </div> <!-- /container -->

{% endblock %}