{% extends "app/layout.html.twig"%}
{% block pageContent%}
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>Acceso.</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->
    <div class="container mtb">

        <h3 class="">Por favor, introduce tus datos</h3>
        <div class="hline"></div>
        {% include "FOSUserBundle:Security:login_content.html.twig" %}
        <div class="hline"></div>
    </div> <!-- /container -->

{% endblock %}