{% extends "app/layout.html.twig"%}

{% block pageContent%}
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>Recuperar.</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->
    <div class="container mtb">
        <h3 class="">Por favor, introduce tus datos</h3>
        <div class="hline"></div>
        {% block fos_user_content %}
            {% include "@FOSUser/Resetting/request_content.html.twig" %}
        {% endblock fos_user_content %}

        <div class="hline"></div>

    </div> <!-- /container -->

{% endblock %}